.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: auto;
    line-height: 40px;
    background-color: #f5f5f5;
}

#cadre_message {
    margin:auto;
    position: fixed;
    top:45%;
    width:100%;
    line-height: 30px;
    background-color:palevioletred;
    color:white;
}

body {
    background-color: #DCDCDC;
}

/* *******************************************************
                       SOCIAL
 *********************************************************
 */
.body_social{
    display:flex;
    flex-direction: row;
    position: fixed;
}
.body_social__buttons {
    /*margin:auto;*/
    display:flex;
    flex-direction: column;
}
.body_social__buttons_btn {
    /*margin:auto;*/
}
.body_social__clips {
    background-color: dimgrey;
    border-radius: 0px 20px 20px 0px;
    width:20px;
    display:flex;
    height:120px;
}
.body_social__clips_chevron {
    margin:auto;
    color:white;
}
/* *********************************************************
                MODAL DESCRIPTION OBSERVATION
 ***********************************************************
 */
#espece-nom__ {
    margin:auto;
    text-align: center;
}
#espece-image__ {

}
#espece-description__ {
    margin:20px;
    text-align: justify;
}
