

body{
    background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: #efe3b7;
    background-size: 75px 100px;
}

.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: auto;
    line-height: 40px;
    background-color: #252525;
}

header{
    background-color: #fff8dc;
}

.navbar-default {
    background-color: #efb73e;
    border-color: #d34615;
}

.dropdown-menu {
    right: 0;
}

#dropdownMenu1 > p {
    margin-bottom: 0;
}



#cadre_message {
    margin:auto;
    position: fixed;
    top:45%;
    width:100%;
    line-height: 30px;
    background-color:palevioletred;
    color:white;
    z-index: 99999;
}

.btn{
    margin-top: 8px;
    margin-bottom: 8px;
}

.glyphicon{
    margin: 5px;
}

/* *******************************************************
                       SOCIAL
 *********************************************************
 */
.body_social{
    display:flex;
    flex-direction: row;
    position: fixed;
    left:0px;
}
.body_social__buttons {
    /*margin:auto;*/
    display:flex;
    flex-direction: column;
}
.body_social__buttons_btn {
    /*margin:auto;*/
}
.body_social__clips {
    background-color: dimgrey;
    border-radius: 0px 20px 20px 0px;
    width:20px;
    display:flex;
    height:120px;
}
.body_social__clips_chevron {
    margin:auto;
    color:white;
}
/* *********************************************************
                MODAL DESCRIPTION OBSERVATION
 ***********************************************************
 */
#espece-nom__ {
    margin:auto;
    text-align: center;
}
#espece-image__ {

}
#espece-description__ {
    margin:20px;
    text-align: justify;
}

.modal__image{
    max-width: 100%;
    max-height: 300px;
}

/* *********************************************************
                         MAP
 ***********************************************************
 */
#mapid {
    height: 70vh;
    position: relative;
    padding: 0;
}

.bouton-ajouter-observation {
    position: absolute;
    top: 5px;
    left: 45px;
    z-index: 1000;
}

img[src="http://176.31.39.245/web/bundles/naocore/images/marker-jaune.png"] {
    display: none;
}

.awesomplete > ul {
    z-index: 1005;
}

.ligne-observation[data-state="toValidate"]{
    display: none;
}

/* rend le tableau responsive sur mobile*/

@media screen and (max-width: 590px) {
    .table-collapse-phone {
        display: block;
    }
    .table-collapse-phone caption,
    .table-collapse-phone tbody,
    .table-collapse-phone tr,
    .table-collapse-phone th,
    .table-collapse-phone td {
        display: block;
    }
    .table-collapse-phone thead,
    .table-collapse-phone tfoot {
        display: none;
    }
    .table-collapse-phone tr {
        border-top: 1px solid #ddd;
    }
    .table-collapse-phone tr:first-child {
        border: 0;
    }
    .table-collapse-phone > tbody > tr > th:first-child,
    .table-collapse-phone > tbody > tr > td:first-child {
        border: 0;
        /* perso ! Permet de mettre en évidence la première cellule*/
        background-color: #dccc91;
    }
    .table-collapse-phone .has-label[data-label] {
        position: relative;
        padding-left: 50%;
    }
    .table-collapse-phone .has-label[data-label]:before {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px;
        content: attr(data-label);
        font-weight: bold;
    }
}

/* *********************************************************
                         Page observer
 ***********************************************************
 */

#btn-ajouter-observation{
    margin-top: 20px;
    margin-bottom: 10px;
}

.badge{
    white-space: normal;
    line-height: 1.42857143;
    cursor: pointer;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 100%;
    background-color: #dccc91;
}
