{% extends 'base.html.twig' %}
{%  block body %}
Hello World!
    <p data-on="{'gpsState' : 'gps_ok'}">GPS OK</p>
    <p data-on="{'gpsState' : 'gps_ko'}">GPS Non disponible</p>
    <h1>Test d'autocomplete</h1>
    <input class="awesomplete" data-list="Ada, Java, JavaScript, Brainfuck, LOLCODE, Node.js, Ruby on Rails"/>

{% endblock %}