{% extends 'base.html.twig' %}
{%  block body %}
    <h1>Test d'autocomplete</h1>
    <input class="awesomplete" data-list="Ada, Java, JavaScript, Brainfuck, LOLCODE, Node.js, Ruby on Rails"/>

{% endblock %}
