services:
    nao_core.gestion_formulaire:
        class: NAO\CoreBundle\Services\GestionFormulaire
        arguments: ["@form.factory", "@doctrine.orm.entity_manager", "@validator", "@mailer", "@templating"]
    nao_core.gestion_synchronisation:
        class: NAO\CoreBundle\Services\GestionSynchronisation
        arguments: ["@form.factory", "@doctrine.orm.entity_manager", "@validator"]
    nao_core.gestion_encodage:
        class: NAO\CoreBundle\Services\GestionEncodage
        arguments: ["@form.factory", "@doctrine.orm.entity_manager", "@validator"]
