<!-- Modal -->
<div class="modal fade" id="modal-observation" tabindex="-1" role="dialog" aria-labelledby="modal-observation" >
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content" >
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true" >&times;</span ></button >
                {# En ligne #}
                <h3 class="modal-title text-center" ><span id="form-observation__espece"></span> - <span id="form-observation__date"></span></h3 >
            </div >
            <div class="modal-body row" >

                {# Onglets #}
                <ul class="nav nav-tabs" role="tablist" >
                    <li role="presentation" class="active" >
                        <a href="#observation-pane" aria-controls="home" role="tab" data-toggle="tab" >Observation</a >
                    </li >
                    <li role="presentation" >
                        <a id="onglet_espece" href="#species-pane" aria-controls="profile" role="tab" data-toggle="tab" >Espèce</a >
                    </li >
                </ul >

                {# Panneau #}
                <div class="tab-content" >
                    <div role="tabpanel" class="tab-pane active" id="observation-pane" >
                        {# En ligne #}
                        <div class="col-md-5" data-on="{'connexionState' : 'online' }" >

                            {# Image #}
                            <div id="modal-observation__carousel" class="carousel slide" data-ride="carousel" >
                                <img id="observation-image" class="modal__image" src="{{ asset('bundles/naocore/images/v3-500.png') }}" alt="image oiseau" >
                            </div >
                        </div >
                        {# Fin En ligne #}

                        {# Formulaire #}
                        <form class="form-horizontal col-md-7" >
                            <fieldset >
                                <legend >Lieu de l'observation</legend >
                                <div class="form-group" >
                                    <label for="form-observation__latitude" class="col-sm-4" >Latitude :</label >
                                    <div class="col-sm-8" >
                                        <input type="email" class="form-control" id="form-observation__latitude" placeholder="Latitude" disabled="disabled" value="" >
                                    </div >
                                </div >
                                <div class="form-group" >
                                    <label for="form-observation__longitude" class="col-sm-4" >Longitude :</label >
                                    <div class="col-sm-8" >
                                        <input type="text" class="form-control" id="form-observation__longitude" placeholder="Longitude" disabled="disabled" value="" >
                                    </div >
                                </div >
                            </fieldset >
                            <button id="valider_observation" type="button" class="btn btn-success" data-on="{'currentUser' : 'naturaliste' }" >Valider</button >
                            <button id="annuler_observation" type="button" class="btn btn-default" data-dismiss="modal" >Annuler</button > {# TODO: Ne rendre accessible qu'au propriétaire de l'observation #}
                            <button id="refuser_observation" type="submit" class="btn btn-danger" data-on="{'currentUser' : 'naturaliste' }" >Refuser</button >
                        </form >
                    </div >


                    <div role="tabpanel" class="tab-pane" id="species-pane" >
                        <h3 class="text-center" id="espece-nom__" >Piaf</h3 >

                        {# Image de l'espece #}
                        <img id="espece-image__" class="center-block" alt="Image de l'espèce correspondante" >

                        {# description espèce texte #}
                        <p id="espece-description__" ></p >
                    </div >
                </div >
            </div >
        </div >
    </div >
</div >
