<!-- Modal -->
<div class="modal fade" id="modal-addObservation" tabindex="-1" role="dialog" aria-labelledby="modal-addObservation" >
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content" >
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true" >&times;</span ></button >
                <h3 class="modal-title text-center" >Ajout d'une observation</h3 >
            </div >
            <div class="modal-body row" >

                <div class="alert alert-warning" data-on="{'currentUser' : 'null' }" >Vous devez être connecté pour ajouter une observation !</div>
                <div data-off="{'currentUser' : 'null' }" >

                {############################################
                               image
                ###############################################}
                <div class="col-md-5" >
                    <img id="modal__image" class="modal__image center-block" src="http://lorempixel.com/500/300/" alt="..." >
                </div >

                {############################################
                               Formulaire
                ###############################################}


                <div class="col-md-7" >
                   {% include '@NAOCore/formulaire/observation.html.twig' %}
                </div >
                    </div>
            </div >
        </div >
    </div >
</div >
