{% extends 'base.html.twig' %}
{%  block body %}
    <h1>Page Mes observations (en construction)</h1>
{% endblock %}
{% block javascripts %}
    <script>oiseauStorage.loadAll();</script>
{% endblock %}