{% extends 'base.html.twig' %}
{% block title %}
    NAO - Mes observations
{% endblock %}
{%  block body %}
    <div class="col-xs-12" >
        <div class="panel panel-primary" >
            <div class="panel-heading" >
                <h1 class="panel-title" >Mes Observations</h1>
            </div >
            <div class="panel-body" >
                <table class="table table-striped table-collapse-phone" id="mesObservation_table__">
                    <tr>
                        <th>Espèce</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Observée le</th>
                        <th>Statut</th>
                    </tr>
                </table >
            </div >
        </div >
    </div >
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/naocore/js/page-mesObservations.js') }}" ></script >
{% endblock %}
