{% extends 'base.html.twig' %}
{%  block body %}
    <h1>Page Observer (en construction)</h1>
    <input class="awesomplete liste_espece"/><hr>
    <img src="{{ asset('bundles/naocore/images/oiseaux/Accipiter poliogaster (Temminck, 1824).jpg') }}" alt="Nos Amis les Oiseaux - Photo">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/naocore/js/page-observer.js') }}" ></script >
{% endblock %}