{% extends 'base.html.twig' %}
{%  block body %}
    <h1>Page Observer (en construction)</h1>
    <input class="awesomplete liste_espece"/><hr>
{% endblock %}
{% block javascripts %}
    <script>oiseauStorage.loadAll();</script>
{% endblock %}